body{
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}

/* ヘッダー */

.header{
  background-color: #fff;
  height: 100px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  line-height: 100px;
  padding: 15px 25px;
}

.header__ttl{
  font-size: 40px;
  font-weight: bold;
}

.header-logo{
  color: #000;
  text-decoration: none;
}

.header-logo:hover{
  opacity: 0.7;
}

.header-nav {
  width: 400px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__btn{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}

.header-nav__btn:hover{
  opacity: 0.7;
}

/* フォーム */

.form__group{
  margin-bottom: 20px;
}

.form__input--item{
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

.form__error{
  color: red;
  margin-bottom: 20px;
}

.form__button-submit{
  background-color: blue;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.form__button-submit:hover{
  opacity: 0.8;
}

.message{
  margin-bottom: 0;
}

.link{
  color: blue;
}

.link:hover{
  opacity: 0.8;
}

/* ページネーション */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li:not(.active) {
  border: 1px solid #aaa;
  padding: 4px 12px;
}

.pagination li:not(:last-child) {
  border-right: none;
}

.pagination a {
  color: blue;
  text-decoration: none;
}

.pagination__link {
  text-decoration: none;
}

.active {
  padding: 4px 12px;
  border: 1px solid #aaa;
  background-color: blue;
  color: #FFF;
}
