
.index__content{

}

.index__ttl{
  font-weight: bold;
  margin: 50px 0;
}

.attendance__panel{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.attendance__button{
  width: 45%;
}

.attendance__button-submit{
  background-color: #fff;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  padding:80px 0;
  transition: 0.3s;
  width: 100%;
}

.attendance__button-submit:hover{
  color: blue;
  opacity: 0.7;
}

